/* Fundo escuro para destacar o modal */
.container-editar-filho {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* fundo escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

/* Caixa do modal */
.container-modal-editar-filho {
  background: #FFF6E3;
  padding: 10px;
  border-radius: 16px;
  width: 30%;
  max-width: 90%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.25);
  animation: fadeIn 0.3s ease;
  padding: 30px;
}

/* Animação de entrada */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Título */
.container-modal-editar-filho h1 {
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
  text-align: center;
  color: #333;
}

/* Formulário */
.container-modal-editar-filho form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* Labels */
.container-modal-editar-filho label {
  font-weight: bold;
  color: #444;
  margin-bottom: 0.3rem;
}

/* Inputs */
.container-modal-editar-filho input {
  padding: 0.6rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  transition: border 0.2s;
}

.container-modal-editar-filho input:focus {
  border-color: #4a90e2;
  outline: none;
}

/* Botões */
.container-modal-editar-filho button {
  padding: 0.7rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s;
}

.container-modal-editar-filho button[type="submit"] {
  background: #4a90e2;
  color: white;
}

.container-modal-editar-filho button[type="submit"]:hover {
  background: #357ab7;
}

.btn-cancel-editar-filho{
background-color: rgb(219, 58, 58);  
color: white;
}

.btn-cancel-editar-filho:hover{
  background-color: rgba(219, 58, 58, 0.719);  
}
