.Container-cadastro-filho {
  display: flex;
  padding: 40px 0 30px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  background-color: #FFE8AC;
  min-height: 100vdh;
  width: 100%;
}

.Container-cadastro-filho>h1 {
  font-family: "Comic Neue", cursive;
  font-size: 4em;
  background-color: #ffffffb8;
  border-radius: 10px;
  padding: 20px 30px;
  margin: 20px 60px 0 60px;
}

.container-cards {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 30px;
  height: 100%;
  margin-bottom: 60px;
}

.card-esquerda-form {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 550px;
  background-color: #ffffffb8;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}



.form-cadastro-filho {
  display: flex;
  flex-direction: column;
  width: 50%;
  background-color: #A8E6CF;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  gap: 15px;
  height: 65%;
  border-radius: 20px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}


.form-cadastro-filho>h2 {
  font-size: 45px;
}

.form-cadastro-filho>label {
  font-family: 'Comic Neue', cursive;
  font-size: 1.2em;
  color: #333;
  margin-bottom: 5px;
  align-self: flex-start;
}

.form-cadastro-filho>input {
  width: 100%;
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 2px solid #ffffffb8;
  border-radius: 12px;
  font-size: 1em;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  transition: 0.3s;
  box-sizing: border-box;
}

.form-cadastro-filho>input:focus {
  border-color: #FFD166;
  /* destaque laranja suave */
  background-color: #fffef0;
}

.form-cadastro-filho>button {
  width: 100%;
  padding: 12px;
  font-size: 1.2em;
  font-family: 'Lexend', sans-serif;
  color: #fff;
  background-color: #06A77D;
  /* verde alegre */
  border: none;
  border-radius: 15px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* efeito hover */
.form-cadastro-filho>button:hover {
  background-color: #04A065;
  transform: translateY(-2px);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.25);
}

/* efeito ao clicar */
.form-cadastro-filho>button:active {
  transform: translateY(0);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.card-right-list {
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 550px;
  background-color: #ffffffb8;
  padding: 20px;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.listar-filhos {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  background-color: #ffffffb8;
  height: 40%;
  width: 80%;
  justify-content: center;
}

.listar-filhos>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-height: 550px;
}

.filho-ativo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #A8E6CF;
  border-radius: 12px;
  padding: 12px 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.filho-ativo:hover {
  background-color: #9ed1eb;
  transform: translateY(-2px);
}

.filho-desativado {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #dae7e2;
  border-radius: 12px;
  padding: 12px 18px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1em;
  color: #333;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
}

.filho-desativado:hover {
  background-color: #9ed1eb;
  transform: translateY(-2px);
}

.editar-filho {
  background-color: #ffee00;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-family: 'Lexend', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.editar-filho:hover {
  background-color: #fff677;
  transform: scale(1.05);
}

.btn-desativar {
  background-color: crimson;
  color: rgb(255, 255, 255);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-family: 'Lexend', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-desativar:hover {
  background-color: rgba(218, 23, 62, 0.842);
  transform: scale(1.05);
}

.btn-ativar {
  background-color: #b8f16d;
  color: rgb(0, 0, 0);
  border: none;
  padding: 8px 14px;
  border-radius: 10px;
  font-family: 'Lexend', sans-serif;
  font-size: 0.9em;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.btn-ativar:hover {
  background-color: #97ff10bb;
  transform: scale(1.05);
}

.container-buttons{
  display: flex;
  gap: 15px;
}